name: weather

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: node:20
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
    steps:
      - uses: actions/checkout@v4

      - run: npm install
      - run: npx playwright install
      - run: npx playwright install-deps

      # install
      - name: Install Backend Dependencies
        working-directory: ./backend
        run: npm install
      - name: Install Frontend Dependencies
        working-directory: ./frontend
        run: npm install

      # build
      - name: Build Backend
        working-directory: ./backend
        run: npm run build 
      - name: Build Frontend
        working-directory: ./frontend
        run: npm run build

      # test
      - name: backend test
        working-directory: ./backend
        run: npm run test

      # - run: npm run dev:test & npx wait-on http://localhost:5173

      # - name: set up interface test
      #   env:
      #     GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
      #     GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
      #   run: npm run test
